---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Página no encontrada">
  <main class="grid min-h-screen place-items-center bg-rose-100 px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-base font-semibold text-rose-400">404</p>
      <h1 class="mt-4 text-5xl font-bold tracking-tight text-neutral-800 sm:text-7xl">
        Página no encontrada
      </h1>
      <p class="mt-6 text-lg font-medium text-neutral-600 sm:text-xl">
        Lo sentimos, no hemos podido encontrar la página que buscas.<br />
        Puede que se haya movido o que ya no exista.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a 
          href="/" 
          class="rounded-full bg-rose-400 px-5 py-2.5 text-sm font-semibold text-white shadow-md hover:bg-rose-500 transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-400"
        >
          Volver al inicio
        </a>
        
      </div>
    </div>
  </main>
</Layout>
