<section
  class="flex flex-col md:flex-row
         items-start md:items-center
         justify-start md:justify-center
         gap-6 md:gap-20 xl:gap-28
         p-6 sm:p-8 md:p-16 xl:p-44
         bg-white text-black"
>
  <!-- Columna izquierda -->
  <div class="text-neutral-800/90 md:w-2/5">
    <h2 class="text-2xl md:text-3xl font-bold">Acerca de nosotros</h2>
    <h3 class="text-base md:text-lg">
      Somos pasión, creatividad y recuerdos que perduran.
    </h3>
  </div>

  <!-- Columna derecha -->
  <div class="md:w-3/5">
    <div
      class="max-w-[65ch]
             text-base md:text-lg
             leading-7 md:leading-9
             tracking-normal md:tracking-[0.01em]
             text-neutral-800/90
             space-y-5 md:space-y-6
             text-left md:text-justify
             break-normal [hyphens:auto]"
    >
      <p>
        En <strong>De Corazón</strong> creemos que cada celebración es una oportunidad
        para crear recuerdos que perduren. Nuestra ilusión es transformar tus ideas
        en experiencias únicas, llenas de magia y detalles pensados con cariño.
      </p>
      <p class="hidden md:block>">
        No decoramos por decorar: lo hacemos porque confiamos en el poder de los
        momentos especiales para unir a las personas y dejar huellas
        imborrables. En cada evento ponemos pasión, creatividad y corazón.
      </p>
    </div>
  </div>
</section>
