---
import bgHero from "../assets/bgHero3reverse.png";
import logoBlack from "../assets/dcorazon-black.png";
import { Image } from "astro:assets";
import LogoDecorazon from "../assets/logoDcorazon.png";
---

<section class="grid grid-cols-1 md:grid-cols-[1fr_15fr] gap-0">
<aside class="flex flex-col md:flex-col items-center gap-3 pt-6 md:pt-14">
  <!-- Texto -->
  <p class="text-xs md:transform md:rotate-270 md:text-sm md:mt-5">
    CONTÁCTANOS
  </p>

  <!-- HR (solo en desktop) -->
  <hr class="hidden md:block border-l border-gray-300 h-20 mt-12" />

  <!-- Redes -->
  <div class="flex flex-row md:flex-col gap-4 mt-2 md:mt-4">
    <a
      href="https://www.instagram.com/decorazonlp/"
      target="_blank"
      aria-label="Instagram"
      class="hover:scale-110 transition-transform"
    >
      <img src="/icons/instagram.svg" alt="Instagram" class="w-5 h-5" />
    </a>
    <a
      href="https://wa.me/34634931297"
      target="_blank"
      aria-label="WhatsApp"
      class="hover:scale-110 transition-transform"
    >
      <img src="/icons/whatsapp.svg" alt="WhatsApp" class="w-5 h-5" />
    </a>
    <a
      href="https://mail.google.com/mail/?view=cm&fs=1&to=decorazonlaspalmas@gmail.com"
      target="_blank"
      aria-label="Gmail"
      class="hover:scale-110 transition-transform"
    >
      <img src="/icons/gmail.svg" alt="Gmail" class="w-5 h-5" />
    </a>
  </div>
</aside>

  

  <!-- Contenido principal Hero -->
  <div
    class="relative p-4 md:mb-2 md:mr-17 md:-ml-5 h-[80svh] md:h-[800px] flex items-center justify-center flex-col"
    style={`background-image:url(${bgHero.src}); background-size:cover; background-position:right center;`}
  >
    <!-- Logos -->
    <div class="absolute top-5 w-full flex justify-between px-4 md:px-10">
      <Image
        class="h-auto w-24 md:w-[150px]"
        src={logoBlack}
        alt="Logo Decorazon"
      />
      <Image
        class="h-auto w-24 md:w-[150px]"
        src={LogoDecorazon}
        alt="Logo Decorazon"
      />
    </div>

    <!-- Contenedor video -->
    <div
      class="relative w-full h-[45svh] max-w-[900px] md:w-[900px] md:h-[500px] "
    >
      <video autoplay muted loop playsinline class="w-full h-full object-cover border-3 border-gray-200 rounded-xl dark:border-gray-500">
        <source src="/videoHero.mp4" type="video/mp4" />
        Tu navegador no soporta la etiqueta de video.
      </video>

      <!-- Texto superpuesto -->
      <p
        class="text-stroke absolute bottom-3  md:bottom-[70px] md:left-[-80px] flex items-center justify-center text-white text-2xl md:text-6xl lg:text-7xl font-bold text-start p-2 md:p-4"
      >
        Decoraciones <br />
        con amor para <br />
        tus momentos <br />
        especiales
      </p>
    </div>

    <div
      class="w-full max-w-[900px] flex justify-center md:justify-end mt-4 px-4"
    >
      <p
        class="text-xl sm:text-2xl md:text-3xl text-center md:text-end font-bold"
      >
        Momentos especiales y <br />recuerdos inolvidables
      </p>
    </div>

    <div
      class="w-full max-w-[900px] flex justify-center md:justify-end mt-4 px-4"
    >
      <button
        class="bg-transparent text-black border border-black
               hover:bg-black hover:text-white
               transition-colors duration-500
               py-2 px-4 cursor-pointer"
      >
        ¡Solicita presupuesto!
      </button>
    </div>
  </div>
</section>
